################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/seminar2/Problema_2/.vs/Problema_2
